*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body{
    width: 80%;
    margin: 0 auto;
}

.first_section{
    margin: 0 auto;
    width: 100%;
}
.all_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    
    padding-top: 40px;
} 
.text_area{
    width: 40%;
    display: flex;
}
.text_area h1{
    padding-bottom: 6px;
}
.text_area .info_area .title{
    padding-bottom: 12px;
}
.phone_area{
    width: 20%;
}
.img_area{
    width: 35%;
    display: flex;
}


.img_area img{
    height: 180px;
    width: 170px;
}
.img_area .number_area{
    padding-top: 16.5%;
    padding-right: 7%;
}
hr{
    margin: 0 auto;
    width: 100%;
}
.second_section .education_area p{
    font-size: 25px;
    padding-top: 20px;
}
.second_section {
    display: flex;
    margin: 0 auto;
}
.second_section .univers_area{
    width: 41%;
    padding-left: 14%;
    padding-top: 20px;
}
.second_section .univers_area .title{
    padding-bottom: 17px;
}
.second_section .year_area{
    padding-left: 20%;
    padding-top: 5%;
}
.second_section .year_area .desc{
    padding-top: 228%;
}
.third_section {
    display: flex;
    margin: 0 auto;
}
.third_section .experience_area p{
    font-size: 25px;
    padding-top: 20px;
}

.third_section .npua_area{
    width: 41%;
    padding-left: 14%;
    padding-top: 20px;
}
.third_section .npua_area .title{
    padding-bottom: 17px;
}
.third_section .year_area{
    padding-left: 20%;
    padding-top: 5%;
}
.third_section .year_area .desc{
    padding-top: 228%;
}
.forth_section{
    display: flex;
    margin: 0 auto;
}
.forth_section .skills_area{
    font-size: 25px;
    padding-top: 20px;
}
.forth_section .corel_area{
    width: 41%;
    padding-left: 18.5%;
    padding-top: 20px;
}
.forth_section .corel_area h2{
    font-size: 25px;
}

.forth_section .corel_area .desc{
    padding-bottom: 20px;
    padding-top: 10px;
}
footer p{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}